# # docker-compose.yml

services:
  minio:
    image: minio/minio
    container_name: mlflow_s3
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ':9001' --address ':9000'
    environment:
      MINIO_ROOT_USER: minio_user
      MINIO_ROOT_PASSWORD: minio_password
      MINIO_BROWSER_REDIRECT_URL: http://0.0.0.0:9001/minio
    restart: always
    volumes:
      - minio_data:/data

  mc:
    image: minio/mc
    depends_on:
      - minio
    container_name: mc
    entrypoint: >
      /bin/sh -c " /usr/bin/mc alias set minio http://minio:9000 minio_user minio_password && /usr/bin/mc mb minio/mlflow-storage; exit 0; "

  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: mlflow_db
      POSTGRES_USER: mlflow_user
      POSTGRES_PASSWORD: mlflow_password
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data

  mlflow:
    image: ghcr.io/mlflow/mlflow
    container_name: mlflow_server
    ports:
      - "5000:5000"
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio_user
      AWS_SECRET_ACCESS_KEY: minio_password
      MLFLOW_SERVER_ALLOWED_HOSTS: "*"
    command:
      - /bin/bash
      - -c
      - |
        pip install psycopg2-binary boto3
        mlflow server --backend-store-uri postgresql+psycopg2://mlflow_user:mlflow_password@postgres:5432/mlflow_db --host 0.0.0.0 --artifacts-destination s3://mlflow-storage/
    restart: always
    depends_on:
      - postgres

  visual:
    image: node:25-alpine
    container_name: visual
    working_dir: /app
    command: sh -c "npm install && REACT_APP_API_URL=/api PUBLIC_URL=/radt npm run build && npx serve -s build -l 80"
    ports:
      - "4000:80"
    volumes:
      - ./frontend:/app
    restart: always
    depends_on:
      - postgres

  frontend-api:
    image: node:25-alpine
    container_name: frontend-api
    working_dir: /app
    command: sh -c "npm install && npm run start"
    environment:
      DATABASE_URL: postgres://mlflow_user:mlflow_password@postgres:5432/mlflow_db
    volumes:
      - ./frontend/server:/app
    restart: always
    depends_on:
      - postgres
  nginx:
    restart: always
    depends_on:
      - minio
      - mlflow
      - visual
      - frontend-api
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./.htpasswd:/etc/nginx/.htpasswd # Username: radt, Password: radt_password

volumes:
  pgdata:
  minio_data:
